@import "tailwindcss";


@layer utilities {
  .font-zen {
    font-family: var(--font-zen);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* برای کروم/سافاری */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* برای IE/Edge */
  scrollbar-width: none;     /* برای فایرفاکس */
}
