@import "tailwindcss";



@layer utilities {
  .font-zen {
    font-family: var(--font-zen);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }
}

@theme {
  --breakpoint-lg: 1025px;
  --breakpoint-md: 769px;
}

.swiper-scrollbar {
  display: none !important;
}